.doc {
  &_add {
    background-color: var(--grey-color);
    padding: 10px 20px;

    span {
      text-transform: uppercase;
      font-weight: 700;
    }

    button {
      background-color: var(--green-color);
      border: none;
      padding: 5px 10px;
      color: var(--white-color);
      border-radius: 10px;
    }
  }
}

.doc_add {
  input {
    font-weight: 200;
  }
}

.create_btn_wrap {
  position: fixed;
  bottom: 0;
  background-color: var(--grey-color);
  padding: 10px 20px 30px 10px;
}

.create_btn {
  width: 100%;
  background-color: var(--green-color);
  border: none;
  padding: 10px;
  color: var(--white-color);
  border-radius: 5px;
}
