@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #012755;
  --green-color: #7eb95b;
  --light-green-color: #dfefd8;
  --grey-color: #e6e6e6;
  --dark-grey-color: #939595;
  --light-grey-color: #f7f7f7;
  --bg-grey-color: #e8e8e8;
  --blue-color: #1b77bd;
  --green-color-bg: #e6e6e6;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

.container {
  margin: 0 auto;
  max-width: 440px;
}

.h_header {
  padding-top: 35px;
}
