.main {
  color: var(--white-color);
}

.new_rx {
  padding: 80px 0;
  gap: 10px;
  background-color: var(--primary-color);
  box-shadow: 0 1px 20px var(--primary-color);
  cursor: pointer;

  img {
    width: 35%;
  }

  span {
    font-size: 200;
  }
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
}

.act {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:nth-child(2n) {
    border-left: 2px solid var(--grey-color);
  }

  &:nth-child(n + 3) {
    border-top: 2px solid var(--grey-color);
  }

  svg {
    font-size: 40px;
  }

  span {
    color: var(--primary-color);
  }
}
